@import "../../../shapez/src/css/mixins.scss";
#state_InGameState {
    .shapesanityButton {
        grid-column: 1;
        background-image: url("../res/icons/AP.png");
    }
    button.shop {
        grid-column: 2;
    }
    button.stats {
        grid-column: 3;
    }
    .button.save {
        grid-column: 4;
    }
    .button.settings {
        grid-column: 5;
    }
}
#ingame_HUD_Shapesanity {
    z-index: 420;
    .dialogInner {
        &[currentTab="shapesanity"] .tabsButtonShapesanity,
        &[currentTab="slotDetails"] .tabButtonSlotDetails,
        &[currentTab="achievements"] .tabButtonAchievements,
        &[currentTab="timeTrials"] .tabButtonTimeTrials,
        &[currentTab="giftShop"] .tabButtonGiftShop {
            opacity: 1;
        }
    }
    .shapesanityRow {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: calc(6px*var(--ui-scale));
        padding-left: calc(10px*var(--ui-scale));
        padding-right: calc(16px*var(--ui-scale));
        padding-top: calc(2px*var(--ui-scale));
        padding-bottom: calc(2px*var(--ui-scale));
        button.pin {
            & {
                /* @load-async */
                background: url("../../../shapez/res/ui/icons/pin.png") center center / 95% no-repeat;
            }
            width: calc(12px * var(--ui-scale));
            height: calc(12px * var(--ui-scale));
            position: absolute;
            top: calc(2px * var(--ui-scale));
            right: calc(2px * var(--ui-scale));
            opacity: 0.6;
            cursor: pointer;
            pointer-events: all;
            @include IncreasedClickArea(5px);
            transition: opacity 0.12s ease-in-out;
            @include DarkThemeInvert;
            $disabledOpacity: 0.6;
            $enabledOpacity: 0.6;
            &:hover {
                opacity: $enabledOpacity + 0.1;
            }
            &.alreadyPinned {
                opacity: $disabledOpacity !important;
                &:hover {
                    opacity: $disabledOpacity + 0.1 !important;
                }
            }
            &.isGoal {
                /* @load-async */
                background: url("../../../shapez/res/ui/icons/current_goal_marker.png") center center / 95% no-repeat;
                opacity: $disabledOpacity !important;
                cursor: default;
                pointer-events: none;
            }
            &.pinned {
                opacity: $disabledOpacity;
                & {
                    /* @load-async */
                    background: url("../../../shapez/res/ui/icons/unpin_shape.png") center center / 75% no-repeat !important;
                }
                @include InlineAnimation(0.3s ease-in-out) {
                    0% {
                        opacity: 1;
                        transform: scale(0.8);
                    }
                    30% {
                        opacity: 1;
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
                &:hover {
                    opacity: $disabledOpacity + 0.1;
                }
            }
            &.unpinned {
                opacity: $enabledOpacity;
                @include InlineAnimation(0.3s ease-in-out) {
                    0% {
                        opacity: 1;
                        transform: scale(0.8);
                    }
                    30% {
                        opacity: 1;
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
                &:hover {
                    opacity: $enabledOpacity + 0.1;
                }
            }
        }
        button.showInfo {
            width: calc(11px * var(--ui-scale));
            height: calc(11px * var(--ui-scale));
            position: absolute;
            top: calc(17px * var(--ui-scale));
            right: calc(2.5px * var(--ui-scale));
            opacity: 0.5;
            cursor: pointer;
            pointer-events: all;
            @include IncreasedClickArea(5px);
            transition: opacity 0.12s ease-in-out;
            @include DarkThemeInvert;
            &:hover {
                opacity: 0.6;
            }
            & {
                /* @load-async */
                background: url("../../../shapez/res/ui/icons/info_button.png") center center / 95% no-repeat;
            }
        }
    }
    .shapesanityName {
        padding-right: calc(10px * var(--ui-scale));
    }
    .content {
        margin-top: calc(10px * var(--ui-scale));
        padding-right: calc(10px * var(--ui-scale));
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-items: stretch;
        width: auto;
        height: calc(350px * var(--ui-scale));
    }
    .tabs > button {
        color: #fff;
        opacity: 0.25;
        border-radius: 0;
        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        background-color: #44484a !important;
        transition: opacity 0.2s ease-in-out;
    }
}
html[data-theme=dark] #ingame_HUD_Shapesanity {
    .tabs > button {
        background-color: #5e6474 !important;
    }
}
html[data-theme=dark] .ingameDialog > .dialogInner > .content > .locationChecked {
    background-color: #007d91;
}
html[data-theme=light] .ingameDialog > .dialogInner > .content > .locationChecked {
    background-color: #96f6ff;
}
#state_MainMenuState {
    .inputContainer {
        display: flex;
        width: 90%;
        flex-direction: column;
        grid-gap: calc(5px*var(--ui-scale));
        background: #65a4b3;
        border-radius: calc(6px*var(--ui-scale));
        justify-content: center;
        align-items: flex-start;
        padding: calc(10px * var(--ui-scale));
        box-shadow: 0 calc(5px * var(--ui-scale)) calc(15px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
    }
    .playerContainer {
        display: flex;
        width: 100%;
        flex-direction: row;
        grid-gap: calc(5px*var(--ui-scale));
        background: #65a4b3;
        align-items: center;
        justify-content: flex-end;
    }
    .addressContainer {
        display: flex;
        width: 100%;
        flex-direction: row;
        grid-gap: calc(5px*var(--ui-scale));
        background: #65a4b3;
        align-items: center;
        justify-content: flex-end;
    }
    .portContainer {
        display: flex;
        width: 100%;
        flex-direction: row;
        grid-gap: calc(5px*var(--ui-scale));
        background: #65a4b3;
        align-items: center;
        justify-content: flex-end;
    }
    .passwordContainer {
        display: flex;
        width: 100%;
        flex-direction: row;
        grid-gap: calc(5px*var(--ui-scale));
        background: #65a4b3;
        align-items: center;
        justify-content: flex-end;
    }
    .statusContainer {
        display: flex;
        width: 100%;
        flex-direction: row;
        grid-gap: calc(5px*var(--ui-scale));
        background: #65a4b3;
        align-items: center;
        justify-content: flex-end;
    }
    .playerInput {
        color: #000;
        padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
        margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
    }
    .addressInput {
        color: #000;
        padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
        margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
    }
    .portInput {
        padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
        margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
    }
    .passwordInput {
        padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
        margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
    }
    .statusButton {
        padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
        margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
        background-color: red;
    }
}
