#state_InGameState .shapesanityButton {
    grid-column: 1;
    background-image: url("../res/icons/AP.png");
}
#state_InGameState button.shop {
    grid-column: 2;
}
#state_InGameState button.stats {
    grid-column: 3;
}
#state_InGameState .button.save {
    grid-column: 4;
}
#state_InGameState .button.settings {
    grid-column: 5;
}
#ingame_HUD_Shapesanity {
    z-index: 420;
}
#ingame_HUD_Shapesanity .content {
    margin-top: calc(10px * var(--ui-scale));
    padding-right: calc(10px * var(--ui-scale));
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(300px * var(--ui-scale));
    height: calc(350px * var(--ui-scale));
}
#state_MainMenuState .inputContainer {
    display: flex;
    width: 90%;
    flex-direction: column;
    grid-gap: calc(5px*var(--ui-scale));
    background: #65a4b3;
    border-radius: calc(6px*var(--ui-scale));
    justify-content: center;
    align-items: flex-start;
    padding: calc(10px * var(--ui-scale));
    box-shadow: 0 calc(5px * var(--ui-scale)) calc(15px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
}
#state_MainMenuState .playerContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    grid-gap: calc(5px*var(--ui-scale));
    background: #65a4b3;
    align-items: center;
    justify-content: flex-end;
}
#state_MainMenuState .addressContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    grid-gap: calc(5px*var(--ui-scale));
    background: #65a4b3;
    align-items: center;
    justify-content: flex-end;
}
#state_MainMenuState .portContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    grid-gap: calc(5px*var(--ui-scale));
    background: #65a4b3;
    align-items: center;
    justify-content: flex-end;
}
#state_MainMenuState .passwordContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    grid-gap: calc(5px*var(--ui-scale));
    background: #65a4b3;
    align-items: center;
    justify-content: flex-end;
}
#state_MainMenuState .statusContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    grid-gap: calc(5px*var(--ui-scale));
    background: #65a4b3;
    align-items: center;
    justify-content: flex-end;
}
#state_MainMenuState .playerInput {
    color: #000;
    padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
    margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
}
#state_MainMenuState .addressInput {
    color: #000;
    padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
    margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
}
#state_MainMenuState .portInput {
    padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
    margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
}
#state_MainMenuState .passwordInput {
    padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
    margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
}
#state_MainMenuState .statusButton {
    padding: calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale));
    margin: calc(0px * var(--ui-scale)) calc(0px * var(--ui-scale));
    background-color: red;
}